#products-cntr {
  padding: 5rem;
}

// product card css

.uk-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  .uk-card {
    cursor: pointer;
  }
  .uk-card-body {
    padding: 0;
  }
  .uk-card-footer {
    padding: 0;
    .uk-button {
      width: 100%;
      height: 5rem;
      font-size: 1.5rem;
    }
  }
}

.in-cart {
  color: var(--tertiary-color);
}

// modal popup css

.uk-background-cover {
  height: 100%;
  width: 100%;
}

.uk-slider-items {
  li {
    width: 100%;
    height: 100%;
    img {
      height: calc(100vh);
      object-fit: cover;
    }
  }
}

.uk-grid-collapse.uk-grid {
  grid-template-columns: 1fr 2fr;
}

.uk-padding-large {
  width: 100%;
}

#open-modal {
  display: none;
}

.uk-modal-full {
  z-index: 9999;
  img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .uk-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #modal-full {
    .uk-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 630px) {
  .uk-text-center {
    margin-top: 4rem;
  }
  .uk-grid {
    grid-template-columns: 1fr 1fr;
  }

  #products-cntr {
    padding: 5rem 1.5rem;
  }
}

@media screen and (max-width: 630px) {
  #modal-full {
    .uk-grid {
      display: flex;
    }
  }
}

@media screen and (max-width: 450px) {
  .uk-grid {
    grid-template-columns: 1fr;
  }
}
