<section id="products-cntr">
  <div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div
    *ngFor="let product of products"
    >
    <div
    class="uk-card uk-card-default uk-card-hover uk-card-body"
    >
    <!-- <p>{{products[0].src[0]}}</p> -->
        <img [src]="product.src[0]" (click)="openProduct(product)" [alt]="product.name" />
      </div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-footer">
        <button class="uk-button uk-button-text"
        (click)="addOrRemoveItem(product)"><i class="fas fa-cart-plus" [ngClass]="{'in-cart': product.wishList}"></i></button>
    </div>
    </div>
  </div>
</section>


<!-- Modal -->

<a id="open-modal" class="uk-button uk-button-default" href="#modal-full" uk-toggle>Open</a>


<div id="modal-full" class="uk-modal-full" *ngIf="selectedProduct" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div class="uk-background-cover" uk-height-viewport>
              <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

                <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
                    <li *ngFor="let picture of selectedProduct.src">
                        <img src="{{picture}}" alt="">
                    </li>
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

              </div>
            </div>
            <div class="uk-padding-large">
                <h1>Headline</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>
