<div id="container">
  <section id="header">
    <img src="../assets/images/Title Logo.svg" alt="DilDish Vestments Store" />
    <section id="wishList">
      <i
        class="fas fa-heart"
        *ngIf="!showWishListed"
        (click)="showWishlistPage()"
      >
      </i>
      <i
        class="fas fa-home"
        *ngIf="showWishListed"
        (click)="showWishlistPage()"
      ></i>
      <i
        class="fas fa-paper-plane"
        (click)="focusClose()"
        uk-toggle="target: #modal-close-default"
      ></i>
    </section>
  </section>
  <section id="body">
    <section *ngIf="!showWishListed">
      <!-- Nav starts -->
      <nav id="navbar" class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
          <ul id="navBarMenu" class="uk-navbar-nav">
            <li id="navDrpdwnSelection" class="uk-active">
              <a href="#">
                {{ selectedCategory.label }}
              </a>
            </li>
            <li
              [ngClass]="{
                'uk-active': selectedCategory.label === category.label
              }"
              *ngFor="let category of categories"
            >
              <a href="#" (click)="changeCategory(category)">{{
                category.label
              }}</a>
            </li>
          </ul>
        </div>
        <div id="navDrpBtn" class="navbar-btn" (click)="openCategoriesList()">
          <div>
            <i class="fas fa-chevron-down"></i>
          </div>
        </div>
      </nav>
      <!-- Nav ends -->
      <app-products [selectedCategory]="selectedCategory"></app-products>
    </section>
    <app-wishlist *ngIf="showWishListed"></app-wishlist>
  </section>
  <section id="footer"></section>
</div>

<!-- This is a button toggling the modal with the default close button -->
<!-- <button class="uk-button uk-button-default uk-margin-small-right" type="button" >Default</button> -->

<!-- This is the modal with the default close button -->
<div id="modal-close-default" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button
      id="closeModal"
      tabindex="0"
      class="uk-modal-close-default"
      type="button"
      uk-close
    ></button>
    <h2 class="uk-modal-title">Send Inquiry</h2>
    <form [formGroup]="emailForm" (submit)="sendMail()">
      <div class="uk-margin">
        <input
          class="uk-input"
          formControlName="name"
          type="text"
          placeholder="Name"
          [ngClass]="{ 'uk-form-danger': checkFormValidity('name') }"
        />
        <p *ngIf="checkFormValidity('name')" class="form-error">
          Please enter your name
        </p>
      </div>

      <div class="uk-margin">
        <input
          class="uk-input"
          formControlName="userEmail"
          type="text"
          placeholder="Email Address"
          [ngClass]="{ 'uk-form-danger': checkFormValidity('userEmail') }"
        />
        <p *ngIf="checkFormValidity('userEmail')" class="form-error">
          Please enter a valid Email address
        </p>
      </div>
      <div class="uk-margin">
        <input
          class="uk-input"
          formControlName="phoneNumber"
          type="text"
          placeholder="Phone Number"
          [ngClass]="{ 'uk-form-danger': checkFormValidity('phoneNumber') }"
        />
        <p *ngIf="checkFormValidity('phoneNumber')" class="form-error">
          Please enter a valid Phone Number
        </p>
      </div>
      <button
        type="submit"
        class="uk-button uk-button-primary"
        [disabled]="!emailForm.valid"
      >
        SEND MAIL
      </button>
    </form>
  </div>
</div>
