#header {
  padding: 3rem;
  background-color: var(--primary-color);
  height: 14rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#wishList {
  margin-right: 10rem;
  font-size: 3rem;
  color: var(--primary-color-m);
  cursor: pointer;
  display: flex;
  align-items: center;
  i {
    padding: 1rem;
  }
}

.form-error {
  margin-top: 0;
  color: #f0506e;
}

#modal-close-default {
  z-index: 9999;
}

.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  min-height: 4rem;
  font-size: 1rem;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: var(--secondary-color);
  width: 100%;
}

.uk-navbar-center,
.uk-navbar-center-left > *,
.uk-navbar-center-right > *,
.uk-navbar-left,
.uk-navbar-right {
  width: 100%;
  justify-content: space-around;
}

.navbar-sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
}

#navDrpdwnSelection {
  display: none;
}

.navbar-btn {
  margin: 0 auto;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .uk-navbar-container {
    position: absolute;
    z-index: 3000;
    flex-direction: column;
    background-color: transparent !important;
  }

  .uk-navbar-left {
    background-color: var(--secondary-color);
  }

  .uk-navbar-nav {
    flex-direction: column;
    height: 4rem;
    overflow: hidden;
    z-index: 5000;
  }

  .uk-navbar-item,
  .uk-navbar-nav > li > a,
  .uk-navbar-toggle {
    font-size: 2rem;
  }

  .navbar-btn {
    display: block;
    background: transparent;
    background-color: var(--secondary-color);
    border-radius: 0 0 10px 10px;
    i {
      font-size: 1rem;
      margin: 0.7rem;
    }
  }

  #navDrpdwnSelection {
    display: block;
  }

  .uk-navbar-nav.clicked {
    #navDrpdwnSelection {
      display: none;
    }
  }

  .clicked {
    transition: height 1s ease;
    height: auto;
  }

  .navbar-btn--clicked {
    transform: rotateZ(180deg);
    border-radius: 10px 10px 0 0;
  }
}

@media screen and (max-width: 630px) {
  #header {
    padding: 2rem;
  }

  #wishList {
    margin: 1rem 2rem 0 0;
    flex-direction: column;
  }

  .fa-paper-plane {
    margin-left: 0;
  }
}
