<section id="wishlist" *ngIf="wistListItems">
  <div
    *ngFor="let item of wistListItems"
    class="uk-card uk-card-default uk-card-hover uk-card-body"
  >
    <div class="card-body">

      <div class="card-body__img">
        <img src="{{ item.src[0] }}" />
      </div>

      <div class="card-desc">

        <div class="card-desc__cntr">

          <div class="card-desc__details">
            Title: <span>{{ item.details.title }}</span>
          </div>
          <div class="card-desc__details">
            Category: <span>{{ item.details.category }}</span>
          </div>
          <div class="card-desc__details">
            Price: <span>{{ item.details.price }}</span>
          </div>
        </div>

        <div class="card-desc__delete" (click)="removeItem(item)">
          <i class="far fa-trash-alt"></i>
        </div>
      </div>


    </div>
  </div>
</section>
