#wishlist {
  min-height: calc(100vh - 14rem);
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.uk-card-body {
  padding: 1rem;
  margin: 2rem;
  width: 50%;
  max-height: 17rem;
}

.card-body {
  display: flex;
}

.card-body__img {
  width: 10rem;
  height: 15rem;
  img {
    height: 100%;
    object-fit: cover;
  }
}

.card-desc {
  padding: 3rem;
  flex: 1;
  display: flex;
}

.card-desc__cntr {
  flex: 1;
}

.card-desc__details {
  font-weight: 600;
  margin-bottom: 1rem;
  span {
    font-weight: initial;
  }
}

.card-desc__delete {
  width: 8rem;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  align-items: center;
}

.card-desc__delete:hover,
.card-desc__delete:active {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .card-desc {
    padding: 1rem;
  }
  .card-desc__delete {
    width: 5rem;
  }

  .uk-card-body {
    margin: 1rem;
    width: 100%;
  }
}
