*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  font-size: 62.5%;

  /* Main Color */
  --primary-color: #FD7272;

  /* Main Color Modified*/
  --primary-color-m: #7d21218e;

  /* Secondary Color */
  --secondary-color: #F8EFBA;

  /* Secondary Color Modified*/
  --secondary-color-m: #ff94088e;

  /* Teriary Color */
  --tertiary-color: #017374;

  /* Teriary Color Modified */
  --tertiary-color-m: #01737498;
}

body {
  font-family: 'Baloo Tamma 2', cursive;
  line-height: 1.8;
}
